/* 
    created by: Matt Hendricks
    http://www.hendrickswebdevelopment.com/
*/

/* =============== Global Style-sheet =============== */

/* =============== Variables =============== */

/* Colors */

$linkColor: #FF0027;
$textColor: #333333;
$black: #000000;
$white: #FFFFFF;
$feedbackColor: #FF0000;

/* Font sizes and Corresponding Line Heights */

$h1: 1.8em;
$h2: 1.5em;
$h3: 1.1em;
$nav: 1.2em;