/* =============== Import =============== */
/* 
    created by: Matt Hendricks
    http://www.hendrickswebdevelopment.com/
*/
/* =============== Global Style-sheet =============== */
/* =============== Variables =============== */
/* Colors */
/* Font sizes and Corresponding Line Heights */
/* =============== Local Variables =============== */
/* =============== Elements =============== */
body {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  background-color: white;
  color: #333333;
  line-height: 1.2em;
  text-align: left; }

div.wrapper {
  width: 90%;
  margin: 5px auto 10px auto; }
div.headerWrapper {
  width: 100%;
  margin-bottom: 1em;
  height: auto; }
div#feedback {
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: 800;
  border-bottom: solid 1px #333333; }

header {
  border-bottom: solid 3px black; }
  header h1 {
    font-size: 2em;
    font-weight: 800;
    line-height: 2em;
    margin: 0px; }
    header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
      color: black;
      text-decoration: none; }
  header nav {
    margin-bottom: .2em;
    font-size: 1.2em;
    line-height: 1.2em; }
    header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
      margin-right: 1em;
      padding: 0.5em 0px 0.5em 0px;
      text-decoration: none;
      color: black; }
      header nav a:link.current, header nav a:visited.current, header nav a:hover.current, header nav a:active.current {
        color: #ff0027; }
    header nav a:hover {
      color: #ff0027; }

footer {
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-top: solid 1px #333333;
  font-size: .8em; }

a:link, a:visited, a:active, a:hover {
  color: #ff0027;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }

p, h1 {
  margin: 0px 0px 0.9em 0px; }

h2, h3, h4, h5, h6 {
  margin: 0px 0px 0.6em 0px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.8em; }

h2 {
  font-size: 1.5em;
  line-height: 1.5em; }

h3 {
  font-size: 1.1em;
  line-height: 1.1em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .9em; }

h6 {
  font-size: .7em; }

small {
  font-size: .8em; }

em {
  font-style: italic; }

strong {
  font-weight: 800; }

ul {
  margin-left: 17px;
  list-style-position: outside;
  list-style-type: disc;
  line-height: 1.4em;
  margin-bottom: 1.2em; }

/* =============== IDs =============== */
/* =============== Classes =============== */
.outline {
  position: absolute;
  left: -9000px; }
